#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

header {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 1.7em;
  /* margin-bottom: 1em; */
  font-size: 3em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.info > .text > p {
  text-align: justify;
  font-size: 1.3em;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-bottom: 1em;
}

.flex-column.text {
  padding-left: 1em;
}
